.bidyBackground 
{
    background-position: center;
    background-size:contain;
	background:url(Grass.jpg);
}
#myCanvas
{
    border-width:10px;
    border-style:ridge;
	background-color:forestgreen;
}


#hd3{
	display: inline-block;
	color: red;
	background-color: aliceblue;
	font-family: fantasy;
}

#h3p{
	display: inline-block;
	color: black;
	background-color: aliceblue;
	font-family: fantasy;
}

#reiniciarpontos{
	color: white;
	background-color: red;
}

#reiniciar{
	color: white;
	background-color: red;
}
